* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, head, body {
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    border: 0;
    margin: 0;
    padding: 0;
}

#container {
    padding: 2vw;
}

#title {
    text-align: center;
}

#active {
    width: 9vw;
    height: 6vw;
    border: .6vh solid black;
    border-radius: .3vh;
    margin: 0 44.5vw;
}

#progressbar {
    margin: 3vh 9vw;
    width: 80vw;
    height: 3vw;
    border: 6px solid black;
    border-radius: 3px;
    text-align: center;
}

#controls {
    transform: translateX(39.25vw);
}

#controls > * {
    display: inline-block;
    width: 5vw;
    border: .1vw solid #dedede;
    border-radius: .5vw;
    margin: .5vw;
    text-align: center;
    background-color: #efefef;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}



#selector {
    border-top: 1px solid black;
    text-align: center;
}

.flag {
    border: 4px solid black;
    border-radius: 2px;
    width: 3vw;
    height: 2vw;
    margin: .5vw;
}